.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    margin: auto;
    margin-top: 15vh;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background: #8a2be2;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  